<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BridgeRecords</title>
  <!-- css -->
  <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap-table.min.css">
  <link rel="stylesheet" href="../lib/bootstrap-select/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="../lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <!-- js -->
  <script src="../lib/jquery/jquery-1.12.2.js" type="text/javascript"></script>
<script src="../lib/bootstrap/js/bootstrap.min.js"></script>
<script src="../lib/bootstrap/js/bootstrap-table.min.js"></script>
<script src="../lib/bootstrap/js/bootstrap-table-zh-CN.min.js"></script>
<script src="../lib/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="../lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">NB Teach</a>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">User <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Current</a></li>
        <li ><a href="#">Summary</a></li>
        <li><a href="#">Activity</a></li>
        <li class="active"><a href="#">Funds</a></li>
        <li><a href="#">PICO Trades</a></li>
        <li><a href="#">Client Trades</a></li>
        <li><a href="#">Bridge Records</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="wrap">
<div class="top_bar">
    <p class="title">
        Bridge Records
    </p>
    <div class="top_action">
      <select class="selectpicker">
        <option>Today</option>
        <option>Yesterday</option>
        <option>This Week</option>
        <option>Previous Week</option>
        <option>This Month</option>
        <option>Previous Week</option>
      </select>
      <div class="date_range">
        <label>From:</label>
        <div class="input-group date" id='startTime'>
          <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        </div>
        <label class='time_target'>TO:</label>
          <div class="input-group date" id='endTime'>
          <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        </div>
        <input class="btn btn-default" type="button" id='search-btn' value="Search">
      </div> 
       <select class="selectpicker" id='logins'>
      </select>
    </div>
</div>
    <table id="table">

    </table>
</div>
<script>
  

  $(function () {
    $('.input-group.date').datepicker()
    .on('hide',function(e){
        console.log('e',e);
    });
    $('#search-btn').click(function(){
      var preTime =new Date($('#startTime').datepicker('getDate')).getTime();
      var nextTime = new Date($('#endTime').datepicker('getDate')).getTime();
        if(nextTime<preTime){
            alert('this date range error');
            return;
        };
        $('#table').bootstrapTable('refresh',{});
    })
    var now = new Date(new Date().getTime()-2*24*60*60*1000);
    var tomrrow = new Date(new Date().getTime()-24*60*60*1000); 
    $('#startTime').datepicker('update',now);
    $('#endTime').datepicker('update',tomrrow);
    $.ajax({
      type:"get",
      url:"/logins",
      success:function(res){
            console.log('res',res);
             var str=res.message.replace("[","").replace("]","");
             var arr = str.split(',');
             console.log('arr',arr);
            for(var i = 0; i< arr.length;i++){
              var value = arr[i];
              $('#logins').append('<option>'+value+'</option>');
            }
            $('#logins').selectpicker('refresh'); 
             table_init();
      }   
    }) ;
     function get_format_time(id){
        var date = $('#'+id).datepicker('getDate');
        var year = new Date(date).getFullYear();
        var month = new Date(date).getMonth() + 1;
        if(month< 10){
          month = "0"+month;
        }
        var day = new Date(date).getDate();
        if(day< 10){
          day = "0"+day;
        }
        return ''+year+month+day;
    };

    function table_init(){
          $('#table').bootstrapTable({
            url: '/funds',         //请求后台的URL（*）
            method: 'post',                      //请求方式（*）
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: false,                   //是否显示分页（*）
            sortable: true,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            queryParams: queryParams,//传递参数（*）
            queryParamsType: "undefined",
            contentType:"application/x-www-form-urlencoded",
            responseHandler: responseHandler,
            search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
            showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            onPageChange: onPageChange,
            columns: [{
                field: 'date',
                title: 'Date',
                align:'center',
                sortable: true,
                halign:'center'
            }, {
                field: 'type',
                title:'Type',
                align:'center',
                sortable: true,
                halign:'center'
            }]
        });
    };
    function onPageChange(number,size){
          $('#table').bootstrapTable('refresh',{});
    }
    function queryParams(params){
      console.log('params',params);
      var temp ={
          login:parseInt($('#logins').selectpicker('val')),
          from:get_format_time('startTime'),
          to: get_format_time('endTime'),
          cur_page: params.pageNumber,
      }
      temp= JSON.stringify(temp);
      return temp;
    };
    function responseHandler(data){
        var res =JSON.parse(data.message);
        console.log('res',res);
        var temp = res.funds;
     };
    // function load_data(){
    //   var selected =  
    //   var params ={
    //       logins: parseInt(selected),

    //   }  
   
//1.初始化Table
 var TableInit = function () {
    var oTableInit = new Object();
    //初始化Table
    oTableInit.Init = function () {

    };
    oTableInit.queryParams= function(params){
        return {

        }
    }
     return oTableInit;
  };
    
});
</script>
</body>
</html>